body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
}

#logo {
  background-color: #000000;
  margin: 0 2rem;
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  z-index: 100;
  height: 8rem;
  line-height: 4rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 60px;

}

nav ul li:last-child {
  margin-right: 20;
}

nav ul li a {
  display: block;
  color: #04b542;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
}

#tienda-link {
  color: #04b542;
}
#about-link {
  color: #04b542;
}
#login-link {
  color: #04b542; 
}
.slider {
  margin-top: 130px;
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}
.slider {
  margin-top: 130px;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
section {
display: flex;
width: 100%;
height: 430px;
}

section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.7;
  transition: .5s ease;
  }

  section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(110%);
    }
  
    #divlogin {
      padding:50px;
      background-image: url('./assets/logo2.gif');
      background-position:top;
      background-size: 50%;
    }
  

.slides img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


h1 {
  text-align: center;
  margin-top: 20px;
  color: #04b542;
}

.tarjetas {
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  background-color: #00ff22;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
}

.producto {
  width: 100%;
  background-color: #292929;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.producto:hover {
  transform: scale(0.99);
}

  .producto:hover {
    transform: scale(0.99);
  }
  
  .tarjetas:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }
  
   .producto img {
    height: fit-content;
    max-width: 100%;
    height: auto;

   }
  .producto h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #00ff75;
  }
  
  .producto p {
    font-size: 1em;
    color: #e7e7e7;
    margin-bottom: 20px;
  }
  
  .producto button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .producto button:hover {
    background-color: #3e8e41;
  }
  #carrito {
    position:sticky;
    color: #fff;
    background-color: #292929;
    border: 1px solid #00ff75;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #00ff75;
    margin-top: 20px;
    padding: 50px;
  }
  
  #carrito h2 {
    color: #04b542;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #carrito-contenido {
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  #carrito-contenido > div {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ddd;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  #carrito-contenido > div > span {
    margin-right: 10px;
  }



  @media only screen and (max-width: 768px) {

    .footer-container {
      flex-wrap: wrap;
    }
  
    .footer-section {
      margin-right: 0;
      margin-bottom: 30px;
      flex-basis: 100%;
    }
  
    #tienda-section, #login-section, #about-section {
      display: block;
    }
  }
  
  /* Estilos para pantallas grandes */
  @media only screen and (min-width: 768px) {
  
    .footer-section {
      flex-basis: calc(33.33% - 40px);
    }
  
  }
  
    footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 30px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 40px;
  }
  
  .footer-section h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .footer-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }


  /*  */
  
  .bottom-bar {
    background-color: #111;
    text-align: center;
    padding: 10px 0;
  }
  
  .bottom-bar p {
    color: #fff;
    margin: 0;
  }



  #tienda-section, #login-section, #about-section {
    display: none;
    justify-content: center;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#00ff75,#00ff75,#00ff75);
    z-index: 1;
    transform-origin: bottom right;
    animation: animation 6s linear infinite
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#00ff75,#00ff75,#00ff75);
    z-index: 1;
    transform-origin: bottom right;
    animation: animation 6s linear infinite;
    animation-delay: -3s;
}
.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#00ff75,#00ff75,#00ff75);
    z-index: 1;
    transform-origin: bottom right;
    animation: animation 6s linear infinite;
    animation-delay: -1.5s;
}
.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#00ff75,#00ff75,#00ff75);
    z-index: 1;
    transform-origin: bottom right;
    animation: animation 6s linear infinite;
    animation-delay: -4.5s;
}
@keyframes animation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    
}

.box form h2{
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
} 

.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i{
    height: 44px;
}
.box form .links{
    display: flex;
    justify-content: space-between;
}

.box form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.box form .links a:hover,
.box form .links a:nth-child(0){
    color: #fff;
}

.box form input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}
.box form input[type="submit"]:active{
    opacity: 0.8;

}

#inputEntrar:hover{
    color: #00ff75;
    background: #1c1c1c;
    box-shadow: 0px 0px 10px 1px #00ff75
}


.sobreNosotros {
    
  border-radius: 30px;
  background: rgb(27, 27, 27);
  font-size: 30px;
  box-shadow: rgba(49, 184, 8, 0.192) 6px 2px 16px 0px, rgba(68, 56, 56, 0.432) -6px -2px 16px 0px;
  
}

#sobreNosotros {
  color: #4CAF50;
  margin-top: 40px;
  margin-bottom: 90px;
}


.d-block {
border-radius: 20px;
box-shadow: rgba(49, 184, 8, 0.192) 6px 2px 16px 0px, rgba(68, 56, 56, 0.432) -6px -2px 16px 0px;

}

#h1 {
  margin-top: 50px;
}
#h2 {
  font-size: 5em;
}
#h4 {
  font-size: 5em;
}

.neon {
font-size: 4em;
color: #ffffff;
text-shadow: 0 0 10px #1eff4e, 0 0 20px #1eff4e, 0 0 80px #1eff4e, 0 0 120px #1eff4e;
}

.neon{
animation: animate .5s linear infinite;
}

.neo:nth-child(1) {
animation-delay: .25s;
}

.neon:nth-child(2) {
animation-delay: .2s;
}

.neon:nth-child(3) {
animation-delay: .35s;
}


@keyframes animate {
0% {
opacity: 1;
}
30% {
opacity: 1;
}
40% {
opacity: 0.5;
}
50% {
opacity: 1;
}
100% {
opacity: 1;
}

}
#body {
  
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: rgb(190, 185, 185);
  box-sizing: border-box;
}

.nosotros{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 250px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 2px 3px 5px #000000d3;
  margin: 30px; 
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.card .contenido{
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #1a1a1a, #015c02)
}

.card .contenido .img{
  height: 50%;
  margin-bottom: 20px;
}

.card .contenido .img img{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px #000;

}

.card .contenido span{
  position: absolute;
  width: 350px;
  height: 200px;
  background: linear-gradient(to left, #004802, #1a1a1a);
  transform: rotate(-35deg);
  top: -50px;
  left: -100px;
}

.card .contenido h4{
  font-size: 19px;
  color: #ffffff;
  margin-bottom: 5px;
}

.card .contenido h6{
  font-size: 14px;
  color: #ffffff;
}

.card .contenido p{
  font-size: 17px;
  color: #ffffff;
  margin-top: 10px; 
}

.card .links{
  position: absolute;
  z-index: 9;
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #3f3f3f;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.863);
  padding: 20px;
  align-items: center;
  right: 10px;
  top: 15px;
  transition: .5s;
  color: white;
}

.card:hover .links{
  right: -50px;
  border-radius: 0 10px 10px 0;
}

.card .links{
  font-size: 20px;
}


.card .links a:nth-child(1):hover {
  color: #04ff3e
}

.card .links a:nth-child(2):hover {
  color: #04ff3e
}

#burbujascontainer{
  display: inline;
}
